/* General style definitions */

/* Large screens (typically desktops and laptops) */
@media screen and (min-width: 1200px) {
    .app-container {
        height: 6000px;

    }

}

/* Desktops and laptops */
@media screen and (min-width: 1000px) and (max-width: 1199px) {
    .app-container {
        height: 5900px !important;

    }

}

/* Tablets */
@media screen and (min-width: 799px) and (max-width: 999px) {
    .app-container {
        height: 6000px !important;

    }
}

/* Small tablets and large phones */
@media screen and (min-width: 576px) and (max-width: 767px) {
    /* Style settings for small tablets and large phones */
}

/* Mobile devices */
@media screen and (max-width: 575px) {
    .all-container{
        width: 100% !important;
    }
    .app-container{
        width: 100% !important;
    }

    .home .home-container{
     width: 100%;
    flex-direction: column;
    }
    .home .home-container .media-icons{
        flex-direction: row !important;
    }
    .v-timeline[data-v-07e90753]{
    flex-direction: column;
    display: flex;
    width: 100%;
    }
    .contact{
        width: 100% !important;
    }
    /*About Page */
    .flex-center{
        flex-direction: column;
    }
    .portfolio-container{
        flex-direction: column;
        height: 1500px !important;
    }
    .v-card {
        width: 90%!important;
    }
}
